@import "tailwindcss";

:root {
  --primary-color: #ee6325;
}
@layer base {
  body {
    @apply m-0 overflow-x-hidden;
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .primary-button {
    @apply bg-[#EE6325] hover:brightness-110 transition-all text-white px-14 py-4 rounded-full inline-block no-underline transition-all duration-300;
  }
}
@layer components {
  /* Custom styles for animations */
  .work-item {
    @apply flex items-center flex-shrink-0 mb-8;
  }
  .work-item:last-child {
    @apply pb-0 lg:pb-32;
  }
  .work-item .image-container {
    @apply rounded-2xl w-full h-full overflow-hidden relative aspect-square md:aspect-video;
  }
  .work-item .image-container img {
    @apply w-full h-full object-cover block;
  }
  .work-item .content-container {
    @apply absolute bottom-4 lg:bottom-6 right-4 lg:right-6 z-1;
  }

  .titles-column {
    @apply hidden lg:block w-1/2 h-1/2 block relative z-10 my-auto;
  }
  .titles-wrapper {
    @apply overflow-hidden h-full relative;
  }
  .titles-column .titles-wrapper:before {
    @apply content-[''] absolute top-0 left-0 w-full h-1/2 xl:h-1/3 bg-gradient-to-b from-black to-transparent z-1;
  }
  .titles-column .titles-wrapper:after {
    @apply content-[''] absolute bottom-0 left-0 w-full h-1/2 xl:h-1/3 bg-gradient-to-t from-black to-transparent z-1;
  }
  .client-title {
    @apply text-4xl font-bold mb-6 text-white;
    transition: transform 0.4s ease;
    transform-origin: left center;
  }

  .client-title.active {
    @apply opacity-100;
  }
  .client-title .heading {
    @apply text-2xl leading-8 font-light;
  }
  .client-title .sub-heading {
    @apply text-3xl font-bold;
  }

  .cta-button:hover {
    background-color: #f44336;
    transform: translateY(-2px);
  }
}
