@import "tailwindcss";
@layer base {
  body {
    @apply m-0 overflow-x-hidden;
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  /* Custom styles for animations */
  .work-item {
    @apply flex items-center flex-shrink-0 mb-8;
  }
  .work-item .image-container {
    @apply rounded-2xl w-full h-full overflow-hidden relative aspect-video;
  }
  .work-item .image-container img {
    @apply w-full h-full object-cover block;
  }

  .titles-column{
    @apply w-1/2 h-1/2 block relative z-10 my-auto overflow-hidden ;
  }
  .titles-column:before{
    @apply content-[''] absolute top-0 left-0 w-full h-[100px] bg-gradient-to-b from-black to-transparent z-1;
  }
  .titles-column:after{
    @apply content-[''] absolute bottom-0 left-0 w-full h-[100px] bg-gradient-to-t from-black to-transparent z-1;
  }
  .client-title {
    @apply text-4xl font-bold mb-6 text-white;
    transition: transform 0.4s ease;
    transform-origin: left center;
  }

  .client-title.active {
    @apply opacity-100;
  }
  .client-title .heading {
    @apply text-2xl leading-8 font-light;
  }
  .client-title .sub-heading {
    @apply text-3xl font-bold;
  }

  .cta-button:hover {
    background-color: #f44336;
    transform: translateY(-2px);
  }
}
