@import "tailwindcss";
@layer base {
  @apply m-0 overflow-x-hidden;
  font-family: "Inter", sans-serif;
}
@layer components {
  /* Custom styles for animations */
  .work-item {
    @apply h-[80vh] flex items-center flex-shrink-0;
  }
  .client-title {
    @apply text-4xl font-bold mb-6 opacity-50 transform scale-90 text-white;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform-origin: left center;
  }

  .client-title.active {
    @apply opacity-100;
  }

  .cta-button:hover {
    background-color: #f44336;
    transform: translateY(-2px);
  }
}
