@import "tailwindcss";
@layer base {
  body {
    @apply m-0 overflow-x-hidden;
    font-family: "Poppins", sans-serif;
  }
}
@layer components {
  /* Custom styles for animations */
  .work-item {
    @apply flex items-center flex-shrink-0 mb-8;
  }
  .work-item .image-container {
    @apply rounded-2xl w-full h-full overflow-hidden relative aspect-video;
  }
  .work-item .image-container img {
    @apply w-full h-full object-cover block;
  }
  .client-title {
    @apply text-4xl font-bold mb-6 opacity-50 transform scale-90 text-white;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform-origin: left center;
  }

  .client-title.active {
    @apply opacity-100;
  }
  .client-title .heading {
    @apply text-2xl leading-8 font-light;
  }
  .client-title .sub-heading {
    @apply text-3xl font-bold;
  }

  .cta-button:hover {
    background-color: #f44336;
    transform: translateY(-2px);
  }
}
